<section class="align-items-center bg-img bg-img-fixed" id="user-section"
        style="background-image: url(img/homepage.jpg);">
        <div class="container">
            <div class="account">
                <h1>Hello Admin</h1>
                <a href="/order"><div class="user-func-container">
                    <p>Food Management</p>
                </div></a>
                <a href="/user"><div class="user-func-container">
                    <p>User Management</p>
                </div></a>
                <div class="user-func-container3">
                    <button id= "logoutBtn" type="submit" class="user-btn"><p>Log Out</p></button>
                </div>
            </div>
        </div>
</section>