<div class="mb-nav">
    <div class="mb-move-item"></div>
    <div class="mb-nav-item">
        <a href="/">
            <i class="bx bxs-home"></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="about">
            <i class='bx bxs-wink-smile'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="menu">
            <i class='bx bxs-food-menu'></i>
        </a>
    </div>
    <div class="mb-nav-item">
        <a href="login">
            <i class='bx bx bxs-user'></i>
        </a>
    </div>
</div>
<!-- END MOBILE NAV -->
<!-- BACK TO TOP BTN -->
<a href="javascript:void(0)" id="home">
    <i class="bx bxs-to-top"></i>
</a>
<!-- END BACK TO TOP BTN -->
<!-- TOP NAVIGATION -->
<div class="nav">
    <div class="menu-wrap">
        <a href="../" id="logo" onclick="switchTab()">
            <div class="logo">
                <p>POS</p>
            </div>
        </a>
        <div class="menu h-xs">
            <a href="../" id="home" onclick="switchTab()">
                <div class="menu-item">
                    Home
                </div>
            </a>
            <a href="about">
                <div class="menu-item">
                    About
                </div>
            </a>
            <a href="menu">
                <div class="menu-item">
                    Menu
                </div>
            </a>
            <a href="login" id="account" onclick="switchTab()">
                <div class="menu-item">
                    Account
                </div>
            </a>
        </div>
        <div class="right-menu">
            <a href="/cart">
                <div class="cart-btn">
                    <i class='bx bx-cart-alt'></i>
                </div>
            </a>

        </div>
    </div>
</div>