<section class="align-items-center bg-img bg-img-fixed" id="user-section"
        style="background-image: url(img/banner3.jpg);">
        <div class="container">
            <div class="account">
                <h1>My Account</h1>
                <a href="/menu"><div class="user-func-container">
                    <p>Menu</p>
                </div></a>
                <a href="/history"><div class="user-func-container">
                    <p>Order History</p>
                </div></a>
                <div class="user-func-container3">
                    <button id= "logoutBtn" type="submit" class="user-btn"><p>Log Out</p></button>
                </div>
            </div>
        </div>
</section>