<section class="footer bg-img" style="background-color: black;">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-12">
                    <h1>
                        POS
                    </h1>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, quas harum? Atque eius
                        quaerat fuga sint molestiae illo corrupti vitae voluptatibus. Dicta rerum est delectus
                        perspiciatis nemo nihil autem! Doloremque?</p>
                    <br>
                    <p>Email: posrestaurant@mail.com</p>
                    <p>Phone: +00 123 456 789</p>
                    <p>Website: pos.com</p>
                </div>
                <div class="col-2 col-xs-12">
                    <h1>
                        About us
                    </h1>
                    <br>
                    <p>
                        <a href="#">
                            Chefs
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Menu
                        </a>
                    </p>
                    <p>
                        <a href="#">
                            Testimonials
                        </a>
                    </p>
                </div>
                <div class="col-4 col-xs-12">
                    <h1>
                        Subscribe & media
                    </h1>
                    <br>
                    <p>Email: mlam@gmail.com</p>
                    <p>Phone: +84 123 456 789</p>
                    <p>Website: mlam.com</p>
                    <div class="input-group">
                        <input type="text" placeholder="Enter your email">
                        <button>
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END FOOTER SECTION -->

    <script src="/js/index.js"></script>
</body>

</html>